<%= stylesheet_link_tag "spree/backend/dashboard" %>


<% content_for :page_title do %>
  <%= Spree.t(:dashboard) %>
<% end %>


	<div class="row">
		<div class="col-sm-6">
			<form class="form-inline" id="order_chart" >
			<div class="form-group">
				<label for="fromdatepicker">From: </label>
				<input type="text" id="fromdatepicker" name="from" value="<%= params[:from] %>" class="form-control" />
			</div>
			<div class="form-group">
				<label for="todatepicker">To: </label>
				<input type="text" id="todatepicker" name="to" class="form-control" value="<%= params[:to] %>" />
			</div>
			<div class="form-group">
				<input type="submit" value="Update" id="update" class="btn btn-primary" >
			</div>
			</form>
				<canvas id="dailyOrdersChart"></canvas>
			</div>
		
		<div class="col-sm-4">
			<canvas id="dailyOrdersPie"></canvas>
		</div>
	</div>
	

<%= javascript_include_tag "spree/backend/dashboard" %>
<%= javascript_include_tag "spree/backend/dashboard_pie" %>
